{% render 'partials/head.liquid' %}


    <h1>{{ exercise.title }}</h1>
    <p>{{ exercise.description }}</p>

    <img src="https://fdnd-agency.directus.app/assets/{{ exercise.image.id }}" alt="">
    <a class="community-drops-exercise" href=""><img src="../assets/community-drops.png" alt="">47 community drops</a>
</body>