{% render 'partials/head.liquid' %}

<body>
    {% comment %} task/1 ==> /task/:id (request.params.id: 1) {% endcomment %}
    <a href="/task/1">rouwtaak 1</a> 
    <a href="/task/2">rouwtaak 2</a>
    <a href="/task/3">rouwtaak 3</a>
    <a href="/task/4">rouwtaak 4</a>
</body>