{% render 'partials/head.liquid' %}

<body>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    
    <article>
        {% for excercise in task.exercise %}
            <h2>{{ excercise.title }}</h2>
            <a href="">community drops</a>
            <a href="">start oefening</a> {% comment %} link toevoegen automatische opdracht {% endcomment %}
            <p>25 min</p>
            <p>3 tips</p>
            {% comment %} <li>Excercise Description: {{ excercise.description }}</li> {% endcomment %}
        {% endfor %}
    </article>
</body>
